
## R常用数据框操作方法


1. 查看数据概览

  + `dplyr::glimpse`, 总结查看
  + `%>%`, 管道操作

2. 改变数据结构

  + `tidyr::gather`，宽 --> 长
  + `tidyr::spread`, 长 --> 宽
  + `tidyr::separate`, col_paste -> col1, col2, col3, ...
  + `tidyr::unite`，col1, col2, col3, ... --> col_paste

3. 按行subset

  + `dplyr::filter`，筛选
  + `dplyr::distinct`, 去重
  + `dplyr::sample_frac`, 随机按比例取样
  + `dplyr::sample_n`，随机取n行
  + `dplyr::slice`, 取其中的几行
  + `dplyr::top_n`, 前几行

4. 按列subset

  + `dplyr::select`, 按列取变量

5. 总结数据

  + `dplyr::summarise`，总结至一行
  + `dplyr::summarise_each`，按列总结

6. 生成新列

  + `dplyr::mutate`，生成一列或多列
  + `dplyr::mutate_each`， 对每一列用window function操作，常见的window function如`cumsum`, `dplyr::lead`, `pmin`等

7. 数据分组

  + `dplyr::group_by`。常和其他方法结合，如 `iris %>% group_by(...) %>% summarise(...)`或者 `iris %>% group_by(...) %>% mutate(...)`

8. 数据融合， data combine

  + `dplyr::left_join` 左联接
  + `dplyr::right_join`
  + `dplyr::full_join`
  + `dplyr::inner_join`
  + `dplyr::semi_join`
  + `dplyr::anti_join`

9. 数据集合操作, set operation

  + `dplyr::intersect`
  + `dplyr::union`
  + `dplyr::setdiff`

10. 数据结合, data bindding

  + `dplyr::bind_row`
  + `dplyr::bind_col`


## pandas对应的操作方法

In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets

iris = datasets.load_iris()
# print(iris.keys())
dat = pd.DataFrame(iris.data, columns=iris.feature_names)

In [2]:
dat.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [3]:
# rename column
dat.columns = ["sepal_len", "sepal_width", "petal_len", "petal_width"]
dat.head()
# rename row
# dat.index

   sepal_len  sepal_width  petal_len  petal_width
0        5.1          3.5        1.4          0.2
1        4.9          3.0        1.4          0.2
2        4.7          3.2        1.3          0.2
3        4.6          3.1        1.5          0.2
4        5.0          3.6        1.4          0.2

In [4]:
# summary --> glimpse
dat.describe()

        sepal_len  sepal_width   petal_len  petal_width
count  150.000000   150.000000  150.000000   150.000000
mean     5.843333     3.054000    3.758667     1.198667
std      0.828066     0.433594    1.764420     0.763161
min      4.300000     2.000000    1.000000     0.100000
25%      5.100000     2.800000    1.600000     0.300000
50%      5.800000     3.000000    4.350000     1.300000
75%      6.400000     3.300000    5.100000     1.800000
max      7.900000     4.400000    6.900000     2.500000

In [5]:
dat.dtypes

sepal_len      float64
sepal_width    float64
petal_len      float64
petal_width    float64
dtype: object

In [6]:
# add one column
dat["class"] = pd.Series(iris.target)
dat.head()

   sepal_len  sepal_width  petal_len  petal_width  class
0        5.1          3.5        1.4          0.2      0
1        4.9          3.0        1.4          0.2      0
2        4.7          3.2        1.3          0.2      0
3        4.6          3.1        1.5          0.2      0
4        5.0          3.6        1.4          0.2      0

In [7]:
# subset row
dat[(dat["class"] == 0) | (dat["class"] == 1)].shape

(100, 5)

In [8]:
# view one row
# 关于用.ix, .loc, iloc等的解释： http://pandas.pydata.org/pandas-docs/stable/indexing.html#different-choices-for-indexing
dat.ix[0, ]

sepal_len      5.1
sepal_width    3.5
petal_len      1.4
petal_width    0.2
class          0.0
Name: 0, dtype: float64

In [9]:
# drop duplicated row
print(dat.shape)
print(dat.duplicated().head())

# duplicated terms, should not be remove in this case for sample actual exists
print(dat[dat.duplicated()])
print(dat.drop_duplicates().shape)                # ?dat.drop_duplicates to look more

(150, 5)
0    False
1    False
2    False
3    False
4    False
dtype: bool
     sepal_len  sepal_width  petal_len  petal_width  class
34         4.9          3.1        1.5          0.1      0
37         4.9          3.1        1.5          0.1      0
142        5.8          2.7        5.1          1.9      2
(147, 5)

In [10]:
# sample row
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

dat.sample(frac=.5, replace=False).shape        # ?dat.sample for more explanation

(75, 5)

In [11]:
# 取列变量

dat[[1, 2, 3]].head()

   sepal_width  petal_len  petal_width
0          3.5        1.4          0.2
1          3.0        1.4          0.2
2          3.2        1.3          0.2
3          3.1        1.5          0.2
4          3.6        1.4          0.2

In [12]:
dat[["sepal_len", "sepal_width"]].head()

   sepal_len  sepal_width
0        5.1          3.5
1        4.9          3.0
2        4.7          3.2
3        4.6          3.1
4        5.0          3.6

In [13]:
dat.select(lambda col: col.endswith("_len"), axis=1).head()

   sepal_len  petal_len
0        5.1        1.4
1        4.9        1.4
2        4.7        1.3
3        4.6        1.5
4        5.0        1.4

In [14]:
## group by分组处理数据

gdat = dat.groupby(["class"]) 

# 不能同时用两个匿名函数
quantile_1 = lambda x: x.quantile(.25)
quantile_2 = lambda x: x.quantile(.75)

aggregation = {
    "sepal_len": ["max", "sum"],
    "sepal_width": ["median", "mean"],
    "petal_len": [lambda x: (x.quantile(.25), x.quantile(.75))],
    "petal_width": ["std"]
}
gdat.agg(aggregation)

      petal_width sepal_width            petal_len sepal_len
              std      median   mean      <lambda>       max    sum
class
0        0.107210         3.4  3.418  (1.4, 1.575)       5.8  250.3
1        0.197753         2.8  2.770    (4.0, 4.6)       7.0  296.8
2        0.274650         3.0  2.974  (5.1, 5.875)       7.9  329.4

In [15]:
gdat.describe().T

class           0                                                   1         \
            count   mean       std  min    25%  50%    75%  max count   mean
sepal_len    50.0  5.006  0.352490  4.3  4.800  5.0  5.200  5.8  50.0  5.936
sepal_width  50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4  50.0  2.770
petal_len    50.0  1.464  0.173511  1.0  1.400  1.5  1.575  1.9  50.0  4.260
petal_width  50.0  0.244  0.107210  0.1  0.200  0.2  0.300  0.6  50.0  1.326
class        50.0  0.000  0.000000  0.0  0.000  0.0  0.000  0.0  50.0  1.000

class       ...                2                                            \
            ...   75%  max count   mean       std  min    25%   50%    75%
sepal_len   ...   6.3  7.0  50.0  6.588  0.635880  4.9  6.225  6.50  6.900
sepal_width ...   3.0  3.4  50.0  2.974  0.322497  2.2  2.800  3.00  3.175
petal_len   ...   4.6  5.1  50.0  5.552  0.551895  4.5  5.100  5.55  5.875
petal_width ...   1.5  1.8  50.0  2.026  0.274650  1.4  1.800  2.00  2.300
class       ...   1.0  1.0  50.0  2.000  0.000000  2.0  2.000  2.00  2.000

class
             max
sepal_len    7.9
sepal_width  3.8
petal_len    6.9
petal_width  2.5
class        2.0

[5 rows x 24 columns]

In [16]:
## data binding

pieces = [ pd.DataFrame(np.random.randn(2, 4)),          # 正太分布中取2行4列
           pd.DataFrame(np.random.randn(3, 4)),
           pd.DataFrame(np.random.randn(4, 4)) ]
df = pd.concat(pieces)
df

          0         1         2         3
0 -0.403756  1.855038 -1.955124  0.121965
1 -0.656438 -1.967252  0.625937  0.037715
0  0.031247  0.390982 -0.915402  0.564363
1 -1.394616 -0.790102 -0.859008  0.109144
2  0.623893 -0.279441 -0.904959 -1.481093
0  0.799100 -0.713702  0.795353 -0.516800
1 -0.264604  0.336398  0.085506  0.796623
2  0.527027 -0.678549 -0.190153  0.157416
3  1.245002 -0.169931  0.275480  0.596539

In [17]:
df.append(pd.DataFrame(np.random.rand(1, 4)), ignore_index=True)

          0         1         2         3
0 -0.403756  1.855038 -1.955124  0.121965
1 -0.656438 -1.967252  0.625937  0.037715
2  0.031247  0.390982 -0.915402  0.564363
3 -1.394616 -0.790102 -0.859008  0.109144
4  0.623893 -0.279441 -0.904959 -1.481093
5  0.799100 -0.713702  0.795353 -0.516800
6 -0.264604  0.336398  0.085506  0.796623
7  0.527027 -0.678549 -0.190153  0.157416
8  1.245002 -0.169931  0.275480  0.596539
9  0.928021  0.687768  0.696906  0.773003

In [18]:
## data merge, combine

dat1 = pd.DataFrame({
    "key": ["A", "A", "B", "C"],
    "val1": np.random.binomial(10, .2, 4)
})
dat2 = pd.DataFrame({
    "key": ["B", "C", "D"],
    "val2": np.random.binomial(100, .3, 3)
})
print(dat1)
print(dat2)
# left join
pd.merge(dat1, dat2, how="left")

  key  val1
0   A     2
1   A     1
2   B     1
3   C     3
  key  val2
0   B    36
1   C    24
2   D    25

  key  val1  val2
0   A     2   NaN
1   A     1   NaN
2   B     1  36.0
3   C     3  24.0

In [19]:
# right join
pd.merge(dat1, dat2, how="right")

  key  val1  val2
0   B   1.0    36
1   C   3.0    24
2   D   NaN    25

In [20]:
# inner join
pd.merge(dat1, dat2, how="inner")

  key  val1  val2
0   B     1    36
1   C     3    24

In [21]:
# full join
pd.merge(dat1, dat2, how="outer", on = "key")

  key  val1  val2
0   A   2.0   NaN
1   A   1.0   NaN
2   B   1.0  36.0
3   C   3.0  24.0
4   D   NaN  25.0

In [22]:
# combine first

df1 = pd.DataFrame({'A' : [1., np.nan, 3., 5., np.nan],
                    'B' : [np.nan, 2., 3., np.nan, 6.]})


df2 = pd.DataFrame({"A" : [5., 2., 4., np.nan, 3., 7.],
                    "B" : [np.nan, np.nan, 3., 4., 6., 8.]})

print(df1)
print(df2)

     A    B
0  1.0  NaN
1  NaN  2.0
2  3.0  3.0
3  5.0  NaN
4  NaN  6.0
     A    B
0  5.0  NaN
1  2.0  NaN
2  4.0  3.0
3  NaN  4.0
4  3.0  6.0
5  7.0  8.0

In [23]:
combiner = lambda x, y: np.where(pd.isnull(x), y, x)
df1.combine(df2, combiner)                 # equal to combine_first()

     A    B
0  1.0  NaN
1  2.0  2.0
2  3.0  3.0
3  5.0  4.0
4  3.0  6.0
5  7.0  8.0

In [24]:
## tidyr spread, gather etc
df = pd.DataFrame({
        "index_name": ["A", "B", "A", "B"],
        "columns_name": ["foo", "foo", "bar", "bar"],
        "value": [1, 2, 3, 4]
    })
print(df)

  columns_name index_name  value
0          foo          A      1
1          foo          B      2
2          bar          A      3
3          bar          B      4

In [25]:
df = df.pivot("index_name", "columns_name", "value")
df

columns_name  bar  foo
index_name
A               3    1
B               4    2

In [26]:
pd.melt(df)

  columns_name  value
0          bar      3
1          bar      4
2          foo      1
3          foo      2

### 参考文献

1. [pandas agg详解][1]
2. [数据融合][2]
3. [pandas 1.8.2 API][3]
4. [pandas数据reshap和pivot图解][4]

[1]: http://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/
[2]: http://pandas.pydata.org/pandas-docs/stable/merging.html
[3]: http://pandas.pydata.org/pandas-docs/stable/api.html
[4]: http://www.nikgrozev.org/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/